# Node rules:
## Grunt intermediate storage (http://gruntjs.com/creating-plugins#storing-task-files)
.grunt

## Dependency directory
## Commenting this out is preferred by some people, see
## https://docs.npmjs.com/misc/faq#should-i-check-my-node_modules-folder-into-git
node_modules
base/node_modules
react-app/node_modules
readme/node_modules
vue-app/node_modules

# Book build output
_book

# eBook build output
*.epub
*.mobi
*.pdf
